<footer class="footer">

    <div class="footer-top">

        <div class="container">

            <div class="row">

                <div class="col-xs-12 col-md-4">

                    <p>
                        <img alt="logo-footer" src="images/logo-footer.png" class="logo">
                    </p>
                    <p>
                        But i must explain to you how all this mistaken idea pleasure and praising pain was born and i will give you. But i explain to you how all this mistaken idea.
                    </p>
                    <p>
                        <a target="_blank" href="https://www.facebook.com/ProteusThemes" class="icon-container icon-container--square">
                            <span class="fa fa-facebook"></span>
                        </a>
                        <a target="_blank" href="https://twitter.com/ProteusThemes" class="icon-container icon-container--square">
                            <span class="fa fa-twitter"></span>
                        </a>
                        <a target="_blank" href="http://themeforest.net/user/ProteusThemes/portfolio" class="icon-container icon-container--square">
                            <span class="fa fa-wordpress"></span>
                        </a>
                        <a target="_blank" href="https://www.youtube.com/user/ProteusNetCompany" class="icon-container icon-container--square">
                            <span class="fa fa-youtube-play"></span>
                        </a>
                    </p>

                </div>
                <!-- /.row -->

                <div class="col-xs-12 col-md-2">

                    <div class="widget_nav_menu">
                        <h6 class="footer-top__headings">NAVIGATION</h6>
                        <ul>
                            <li>
                                <a href="tables.html">Extras</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="tables.html">Tables</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Buy Now</a>
                            </li>
                            <li>
                                <a href="#" target="_blank">Theme Documentation</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.widget_nav_menu -->

                </div>
                <!-- /.row -->

                <div class="col-xs-12 col-md-2">

                    <div class="widget_nav_menu">

                        <h6 class="footer-top__headings">OUR SERVICES</h6>
                        <ul>
                            <li>
                                <a href="services.html">All Services</a>
                            </li>
                            <li>
                                <a href="ground_transport.html">Ground Transport</a>
                            </li>
                            <li>
                                <a href="cargo.html">Cargo</a>
                            </li>
                            <li>
                                <a href="warehousing.html">Warehousing</a>
                            </li>
                            <li>
                                <a href="logistic_service.html">Logistic Service</a>
                            </li>
                            <li>
                                <a href="trucking_service.html">Trucking Service</a>
                            </li>
                            <li>
                                <a href="storage.html">Storage</a>
                            </li>
                        </ul>

                    </div>
                    <!-- /.widget_nav_menu -->

                </div>
                <!-- /.row -->

                <div class="col-xs-12 col-md-4">

                    <h6 class="footer-top__headings">BUY NOW</h6>
                    <p>
                        But i must explain to you how all this mistaken idea pleasure and praising pain was born and i will give you. But i explain to you how all this mistaken idea.
                    </p>
                    <p>
                        <a target="_blank" href="#" class="btn btn-info">BUY CARGOPRESS</a>
                    </p>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.row -->

        </div>
    </div>
    <!-- /.footer -->


    <!-- /.footer-top -->

    <div class="footer-bottom">

        <div class="container">

            <div class="footer-bottom__left">
                CargoPress Theme Made by <a href="https://www.proteusthemes.com/">ProteusThemes</a>.
            </div>

            <div class="footer-bottom__right">
                Copyright &copy; 2009&ndash;2015 CargoPress. All rights reserved.
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.footer-bottom -->

</footer>
