<div class="header_container">

    <div class="container">

        <header class="header">

            <div class="header__logo">
                <a href="index.html">
                    <img class="img-responsive" srcset="images/logo.png" alt="CargoPress" src="images/logo.png">
                </a>
                <button data-target="#cargopress-navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
      <span class="navbar-toggle__text">MENU</span>
      <span class="navbar-toggle__icon-bar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </span>
    </button>
            </div>
            <!-- /.header__logo -->

            <div class="header__navigation">
                <nav class="collapse navbar-collapse" id="cargopress-navbar-collapse">
                    <ul class="main-navigation js-main-nav js-dropdown">
                        <li class="current-menu-item menu-item-has-children">
                            <a href="index.html">Home</a>
                            <ul role="menu" class="sub-menu">
                                <li><a href="index.html">Default homepage</a></li>
                                <li><a href="index_video.html">Homepage with video</a></li>
                                <li><a href="index_static.html">Homepage with static image</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="services.html">Services</a>
                            <ul role="menu" class="sub-menu">
                                <li><a href="ground_transport.html">Ground Transport</a></li>
                                <li><a href="cargo.html">Cargo</a></li>
                                <li><a href="warehousing.html">Warehousing</a></li>
                                <li><a href="logistic_service.html">Logistic Service</a></li>
                                <li><a href="trucking_service.html">Trucking Service</a></li>
                                <li><a href="storage.html">Storage</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="tracking.html">Track & Trace</a></li>
                        <li><a href="news.html">News</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <!-- /.header__navigation -->

            <div class="header__widgets">

                <div class="widget-icon-box">

                    <div class="icon-box">
                        <i class="fa fa-headphones"></i>
                        <h4 class="icon-box__title">Call Us Anytime</h4>
                        <span class="icon-box__subtitle">1-888-123-4567</span>
                    </div>

                </div>

                <div class="widget-icon-box">

                    <div class="icon-box">
                        <i class="fa fa-clock-o"></i>
                        <h4 class="icon-box__title">Opening Time</h4>
                        <span class="icon-box__subtitle">08:00 - 18:00</span>
                    </div>

                </div>

                <div class="widget-icon-box">

                    <div class="icon-box">
                        <i class="fa fa-envelope-o"></i>
                        <h4 class="icon-box__title">Email Us</h4>
                        <span class="icon-box__subtitle"><a class="__cf_email__" href="/cdn-cgi/l/email-protection" data-cfemail="f79e999198b794968590988785928484d99e98">[email&#160;protected]</a><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script></span>
                    </div>

                </div>

                <a target="_self" class="btn btn-info" id="button_requestQuote">REQUEST A QUOTE</a>

            </div>
            <!-- /.header__widgets -->

            <div class="header__navigation-widgets">
                <a target="_blank" href="https://www.facebook.com/ProteusThemes" class="social-icons__link"><i class="fa fa-facebook"></i></a>
                <a target="_blank" href="https://twitter.com/chillyorange" class="social-icons__link"><i class="fa fa-twitter"></i></a>
                <a target="_blank" href="http://themeforest.net/user/chilly_orange/portfolio" class="social-icons__link"><i class="fa fa-wordpress"></i></a>
                <a target="_blank" href="https://www.youtube.com/user/ProteusNetCompany" class="social-icons__link"><i class="fa fa-youtube"></i></a>
            </div>

        </header>

    </div>
    <!-- /.container -->

</div>
