<div class="jumbotron jumbotron--with-captions">

    <div data-interval="5000" data-ride="carousel" id="headerCarousel" class="carousel slide">

        <div class="carousel-inner">

            <div class="item">
                <img alt="UNBEATABLE TRUCKING AND TRANSPORT SERVICES" sizes="100vw" srcset="images/demo/slider_1_1920.jpg 1920w, images/demo/slider1_425.jpg 425w" src="images/demo/slider_1.jpg">
                <div class="container">
                    <div class="jumbotron-content">
                        <div class="jumbotron-content__title">
                            <h1>UNBEATABLE TRUCKING AND TRANSPORT SERVICES</h1>
                        </div>
                        <div class="jumbotron-content__description">
                            <p class="p1">
                                <span class="s1">Starting from loading to unloading and maintaining the highest standards in terms of safety while in transit, we take nothing to chance.</span>
                            </p>
                            <p>
                                <a target="_self" href="services.html" class="btn btn-primary">OUR SERVICES</a> &nbsp;<a target="_self" href="contact.html" class="btn btn-secondary">GET IN TOUCH</a>
                            </p>
                            <div class="w69b-screencastify-mouse"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.item -->

            <div class="item">
                <img alt="CRANE TO TRAIN, WE DO EVERYTHING" sizes="100vw" srcset="images/demo/slider_2_1920.jpg 1920w, images/demo/slider_2_425.jpg 425w" src="images/demo/slider_2.jpg">
                <div class="container">
                    <div class="jumbotron-content">
                        <div class="jumbotron-content__title">
                            <h1>CRANE TO TRAIN, WE DO EVERYTHING</h1>
                        </div>
                        <div class="jumbotron-content__description">
                            <p class="p1">
                                <span class="s1">Starting from loading to unloading and maintaining the highest standards in terms of safety while in transit, we take nothing to chance.</span>
                            </p>
                            <a target="_self" href="about.html" class="btn btn-primary">READ MORE</a>
                            <div class="w69b-screencastify-mouse"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.item -->

            <div class="item active">
                <img alt="GROUND OR AIR, THERE IS NO STOPPING FOR US" sizes="100vw" srcset="images/demo/slider_3_1920.jpg 1920w, images/demo/slider_3_425.jpg 425w" src="images/demo/slider_3.jpg">
                <div class="container">
                    <div class="jumbotron-content">
                        <div class="jumbotron-content__title">
                            <h1>GROUND OR AIR, THERE IS NO STOPPING FOR US</h1>
                        </div>
                        <div class="jumbotron-content__description">
                            <p class="p1">
                                <span class="s1">Starting from loading to unloading and maintaining the highest standards in terms of safety while in transit, we take nothing to chance.</span>
                            </p>
                            <a target="_self" href="about.html" class="btn btn-primary">MORE DETAILS</a>
                            <div class="w69b-screencastify-mouse"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.item -->

        </div>
        <!-- /.carousel-inner -->

        <div class="container">

            <a data-slide="prev" role="button" href="#headerCarousel" class="left jumbotron__control">
                <i class="fa  fa-caret-left"></i>
            </a>
            <a data-slide="next" role="button" href="#headerCarousel" class="right jumbotron__control">
                <i class="fa  fa-caret-right"></i>
            </a>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.carousel -->

</div>
