<div class="top">

    <div class="container">

        <div class="top__tagline">Welcome to our land of opportunities</div>

        <nav class="top__menu">
            <ul class="top-navigation js-dropdown">
                <li>
                    <a href="tables.html">Extras</a>
                    <ul class="sub-menu">
                        <li>
                            <a href="tables.html">Tables</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Buy Now</a>
                </li>
                <li>
                    <a href="#" target="_blank">Theme Documentation</a>
                </li>
            </ul>
        </nav>

    </div>
    <!-- /.container -->

</div>
